.newSessionButton {
    color: blue;
    background-color: #ABD155;
    border-radius: 20px;
    padding: 5px;
}

.chatMessageImg {
    height: 30px;
}

.browserHolder {
    margin-top: 10px;
}

#guide_content .codeeditor .CodeMirror {
    height: 100%;
    border-bottom: none;
}

#guide_content .editorContainer{
    height: 468px;
}

#guide_content .teContainer .editorContainer{
    height: 468px;
}

#guide_content .wbContent {
    height: 441px;
}

.codeeditor {
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid black;
}
    
.bulkheadRequestButtons {
    margin-top: 30px;
}

.bulkheadButton {
    padding: 3px 12px;
    transition: all .2s;
    border-radius: 100px;
    width: 110px;
}

.bulkheadThreadRequestButton {
    background-color: #ABD155;
}
.bulkheadThreadRequestButton:hover,
.bulkheadThreadRequestButton:active,
.bulkheadThreadRequestButton:focus {
    background-color: #C7EE63;
}

.bulkheadThreadReleaseButton {
    background-color: #E3700D;
    margin-left: 10px;
}
.bulkheadThreadReleaseButton:hover,
.bulkheadThreadReleaseButton:active,
.bulkheadThreadReleaseButton:focus {
    background-color: #F69144;
}

.bulkheadResetButton {
    background-color: #BEBEBE;
    margin-top: 10px;
}
.bulkheadResetButton:hover,
.bulkheadResetButton:active,
.bulkheadResetButton:focus {
    background-color: #DDDDDD;
}

.bulkheadQueueDiv {
    margin-top: 30px;
}

.bulkheadQueue {
    overflow: hidden;
    word-wrap: break-word;
    max-width: 300px;
    height: 20px;
    white-space: nowrap;
}

.box {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.threadpoolBox {
    border: 1px solid #ABD155;
}

.threadpoolBoxInUse {
    background-color: #ABD155;
}

.waitingTaskBox {
    border: 1px solid #E3700D;
}

.waitingTaskBoxInUse {
    background-color: #E3700D;
}

.spacing {
    margin-top: 87px;
}

.errorTextBox {
    font-family: Asap-Regular;
    font-size: 16px;
    color :#272727;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;   
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.dotdotdot {
    text-align: center;
    font-size: 40px;
    margin-top: 37px;
    margin-bottom: 19px;
}

.dotdotdot span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.dotdotdot span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.dotdotdot span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}