.newSessionButton {
    color: blue;
    background-color: #ABD155;
    border-radius: 20px;
    padding: 5px;
}

.chatMessageImg {
    height: 30px;
}

.browserHolder {
    /* margin-top: 10px; */
}

#guide_content .codeeditor .CodeMirror {
    height: 100%;
    border-bottom: none;
}

#guide_content .editorContainer{
    height: 468px;
}

#guide_content .teContainer .editorContainer{
    height: 468px;
}

#guide_content .wbContent {
    height: 430px;
}

.codeeditor {
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid black;
}
    
.bulkheadRequestButtons {
    margin-top: 30px;
    margin-bottom: 18px;
}

.bulkheadButton {
    padding: 3px 12px;
    transition: all .2s;
    border-radius: 100px;
    width: 110px;
}

.bulkheadThreadRequestButton {
    background-color: #ABD155;
}
.bulkheadThreadRequestButton:hover,
.bulkheadThreadRequestButton:active,
.bulkheadThreadRequestButton:focus {
    background-color: #C7EE63;
}

.bulkheadThreadReleaseButton {
    background-color: #E3700D;
    margin-left: 10px;
}
.bulkheadThreadReleaseButton:hover,
.bulkheadThreadReleaseButton:active,
.bulkheadThreadReleaseButton:focus {
    background-color: #F69144;
}

.bulkheadResetButton {
    background-color: #BEBEBE;
    margin-top: 12px;
}
.bulkheadResetButton:hover,
.bulkheadResetButton:active,
.bulkheadResetButton:focus {
    background-color: #DDDDDD;
}

.bulkheadQueueDiv {
    padding-bottom: 20px;
}

.bulkheadQueue {
    overflow: hidden;
    word-wrap: break-word;
    max-width: 300px;
    height: 20px;
    white-space: nowrap;
}

.queuePerson {
    margin-right: 4px;
}

.bulkheadExceptionDiv {
    margin-top: 10px;
}

.bulkheadException {
    font-weight: 500;
    color: #24263B;
    line-height: 19px;
}