body {
    margin: 0;
}

.bankHeadingBlock {
    height: 36px;
    background-color: #deedf7;
}

.bankHeading {
    font-family: Asap-SemiBold;
    font-size: 16px;
    color: #343334;
    letter-spacing: 0;
    text-align: left;
    padding: 9px 0px 9px 17px;
}

.chatAdvisorCount {
    font-family: Asap-Regular;
    font-size: 16px;
    color: #6f7878;
    letter-spacing: 0;
    text-align: left;
    padding: 21px 0px 0px 16px;
}

.chatIntro { 
    /* background: #F2FAFF; */
    background-color: rgba(222,237,247,0.44); 
    width: 100%;
    height: 50px;
}

.chatIcon {
    height: 16px;
    width: 16px;
    margin: 18px 0 0 16px;
    vertical-align: text-bottom;
}

.chatIntroText {
    font-family: Asap-Regular;
    font-size: 16px;
    color: #272727;
    letter-spacing: 0;
    text-align: left;
    padding: 17px 0px 15px 8px;
}

.advisorChatBlock {
    background: #92e6a5;
    border-radius: 13px;
    margin: 11px 20px 0px 16px;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
}

.advisorInitialBlock { 
    opacity: 0.76;
    border:1px solid #34bc6e;
    width: 98.1px; /* with flex display, not able to use 30px as is. 98.1px will map to 30px. Need to investigate more. */
    height: 30px;
    border-radius: 100%;
    margin: 12px 0 0 15px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

.advisorInitial {
    color: #34bc6e;
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}

.advisorChat {
    font-family: Asap-Regular;
    font-size: 14px;
    color: #272727;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
    margin: 8px 19px 12px 14px;
    word-break: break-word;
}

.advisorName {
    font-family: Asap-SemiBold; /* This is not showing up as bold as Murphy's mockup cuz I believe the font is not picking up*/
    font-weight: bold; /* adding bold to highlight more on the advisor name */
}

/*
ul li{
    display: inline-block;
    clear: both;
    padding: 12px;
    border-radius: 30px;
    margin-bottom: 2px;
}
  
.customer {
    background: #eee;
    float: left;
}
  
.advisor {
    float: right;
    background: #0084ff;
    color: #fff;
}
  
.customer + .advisor {
    border-bottom-right-radius: 5px;
}
  
.advisor + .advisor {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
.advisor:last-of-type {
    border-bottom-right-radius: 30px;
}
*/