body {
    margin: 0 0 0 1px;  /* mark sure the layout does not cover the left border of the broswer */
    overflow: hidden;  /* to hide the scrollbar as scrollbar is not needed */
}

.bankHeadingBlock {
    height: 36px;
    background-color: #deedf7;
}

.bankHeading {
    font-family: Asap-SemiBold;
    font-size: 16px;
    color: #343334;
    letter-spacing: 0;
    text-align: left;
    padding: 9px 0px 9px 17px;
}

.chatAdvisorCount {
    font-family: Asap-Regular;
    font-size: 16px;
    color: #6f7878;
    letter-spacing: 0;
    text-align: left;
    padding: 17px 0px 0px 17px;
}

.chatIntro { 
    /* background: #F2FAFF; */
    background-color: rgba(222,237,247,0.44); 
    height: 50px;
}

.chatIcon {
    height: 16px;
    width: 16px;
    margin: 18px 0 0 16px;
    vertical-align: text-bottom;
}

.chatIntroText {
    font-family: Asap-Regular;
    font-size: 16px;
    color: #272727;
    letter-spacing: 0;
    text-align: left;
    padding: 17px 0px 15px 8px;
}

.advisorChatBlock {
    background: #92e6a5;
    border-radius: 13px;
    margin: 11px 20px 0px 17px;
    width: 70%;
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
}

.advisorInitialBlock { 
    opacity: 0.76;
    border:1px solid #34bc6e;
    width: 30px; 
    height: 30px;
    border-radius: 100%;
    margin: 12px 0 0 15px;
    background-color: #ffffff;
    flex: 0 0 30px;  /* make sure the width is honored and fixed in size */
}

.advisorInitial {
    color: #34bc6e;
    float: left;  /* The rest of the css here is to position the text in the middle of the circle */
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
}

.advisorChat {
    font-family: Asap-Regular;
    font-size: 14px;
    color: #272727;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
    margin: 8px 19px 12px 14px;
    word-break: break-word;
}

.advisorName {
    font-family: Asap-SemiBold; /* This is not showing up as bold as Murphy's mockup cuz I believe the font is not picking up*/
    font-weight: bold; /* adding bold to highlight more on the advisor name */
}

.customerChatBlock {
    background: #eaeaea;
    width: 99.8%;
    height: 60px;
    bottom: 0px;
    position: absolute;
}

.customerChatInput {
    margin: 15px 10px 13px 11px;
    height: 32px;
    background: #ffffff;
    border-radius: 4px;
    padding: 0;
    border: 0;
    flex: 1;
}

.customerChatSubmitButton {
    margin: 15px 13px 13px 0;
    background: #009bef;
    border-radius: 2px;
    width: 83px;
    height: 32px;
}

@media only screen and (max-width : 425px){
}