.dashboardContainer {
    font-family: Asap;
    background: #ffffff !important;
    border:1px solid  #cbcbcb !important;
    border-radius: 1px;
    height: 42px !important;
    margin-bottom: 2px !important;
    width: 100%;
}

.chatSummary {
    display: table;
    width: 100%;    
    table-layout: fixed;
    border-collapse: collapse;
}               

.oneCount {
    text-align: center;
}

.chatLabel {
    font-weight: 500;
    font-size: 13px;
    color: #24253a;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: left;
}

.chatCount {
    font-weight: 400;
    font-size: 20px;
    color: #24253a;
    letter-spacing: 0;
    line-height: 26px;
    text-align: left;
    margin: 8px 0 10px 10px;
    white-space: nowrap;
}

.countTableCellLine {
    border: 1px solid #cbcbcb;
    width: 1px;
    height: 41px;
}

.busyCount {
    color: #649e70;
}

.waitCount {
    color: #d04b02;
}